Hello and welcome, work hard play hard

In [23]:
import numpy as np
import pandas as pd


#import data from Wharton into a variable 
car_data = pd.read_excel('data_daimler_volkswagen.xlsx', index_col = 5)

#This is what the top of our data file looks like. 
#We got some columns that we do not nead, so the next step will be to clean it up.
car_data.head()

,Global Company Key,Industry Format,Data Format,Level of Consolidation - Company Annual Descriptor,Population Source,Data Date,Assets - Total,Earnings Before Interest,Income Before Extraordinary Items,Revenue - Total,Stockholders Equity - Parent,International Security Identification Number,Company Name,Active/Inactive Status Marker,Current ISO Country Code - Incorporation
Data Year - Fiscal,,,,,,,,,,,,,,,
2000,17828,INDL,HIST_STD,C,I,20001231,199274,17778.0,2465,162384,42409,DE0007100000,DAIMLER AG,A,DEU
2001,17828,INDL,HIST_STD,C,I,20011231,207410,12984.0,-662,152873,39004,DE0007100000,DAIMLER AG,A,DEU
2002,17828,INDL,HIST_STD,C,I,20021231,187327,17655.0,4877,149583,34914,DE0007100000,DAIMLER AG,A,DEU
2003,17828,INDL,HIST_STD,C,I,20031231,178268,15480.0,-418,136437,34481,DE0007100000,DAIMLER AG,A,DEU
2004,17828,INDL,HIST_STD,C,I,20041231,182696,15775.0,2466,142059,33541,DE0007100000,DAIMLER AG,A,DEU

In [24]:
#The number of the columns we do not want is indexed by the numbers in "loop_list"
loop_list = [0,1,2,3,4,5,11,13,14]
for i in car_data.columns[loop_list]:
    del car_data[i]

#We will also change the name of the columns so that the dataframe will be easier to work with. 
#To do this we use a dictionary
car_data = car_data.rename({"Data Year - Fiscal": "Fiscal Year",'Assets - Total': 'Total Assets', 'Earnings Before Interest': 'EBIT', 
                            'Income Before Extraordinary Items': 'Income', 'Revenue - Total': 'Total Revenue', 'Stockholders Equity - Parent': 
                            'Stockholders Equity'}, axis='columns')

#The data now looks like this
car_data.head()

,Total Assets,EBIT,Income,Total Revenue,Stockholders Equity,Company Name
Data Year - Fiscal,,,,,,
2000,199274,17778.0,2465,162384,42409,DAIMLER AG
2001,207410,12984.0,-662,152873,39004,DAIMLER AG
2002,187327,17655.0,4877,149583,34914,DAIMLER AG
2003,178268,15480.0,-418,136437,34481,DAIMLER AG
2004,182696,15775.0,2466,142059,33541,DAIMLER AG

In [19]:
import matplotlib.pyplot as plt

car_data['Total Assets'].plot(legend = True)

In [20]:
plt.show